/* Global Layout Set-up */
* {
  box-sizing: border-box;

  /* outline: 1px red solid; */
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #DAEEEB;
}

p{
  margin: 0;
}

/* Element Styles */

form {
  max-width: 360px;
  text-align: left;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}

fieldset{
  border: none;
  padding: 0;
  margin: 0 12px;
}

label{
  display: inline-block;
  margin: .5em 0;

}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt #3D9A8E;
  background-color: white;
  transition: .5s;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background: #D8D8D8;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  padding: 15px;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
  text-align-last: left;
}
textarea{
  margin-top: .5em;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 .75em 1em 0;
}
input::placeholder{
  text-align-last: right;
  font-style: italic;
  padding-right: 1em;
}
button {
  display:block;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 10px;
  background-color: #3D9A8E;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

footer{
  font-style: italic;
  margin: 1em auto 200px;
}
/* ID Styles */

#zip {
  width: 50%;
}

#textformat,
#javanews {
  margin-bottom: 2em;
}


/* Class Styles */
.instructions {
  max-width: 360px;
  margin: 1.5em auto 5px;
  text-align: center;
  padding: 0 12px;
  background-color: white;
  border-radius: 10px;
}

.formhead {
  margin: 0;
  color: white;
  background: #21312F;
  padding: .75em 0;
  text-transform: uppercase;
}

.bolder{
  width: 100%;
  margin: 0;
  padding: 1em 0;
  font-size: 1.25em;
  font-weight: bold;
  border-top: 3px solid #21312F;
}


.headline {
  padding-bottom: 2em;
  margin: 1em 0 0;
  border-bottom: 8px solid #21312F;
}
.zipbox{
  width: 100%;
}
.newsletter{

}
.checkradio{
  display: block;
  width: 100%;
  margin: 1em  0;
}

.submit {
  width: 100%;
  padding: 2em 12px;
}

/* Media Queries */
@media (min-width: 768px) {
  form,
  .instructions {
    max-width: 768px;

  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  select {
    width: 550px;
  }

  input::placeholder{
    text-align-last: right;
    font-style: italic;
    padding-right: 1em;
  }

  label,
  legend,
  .zipbox {
    width: 160px;
    text-align-last: left;
    text-align: left;
  }

  .fill_in{
    text-align: justify;
    text-align-last: justify;
  }

  #zip{
    width:200px;
    margin-right: 350px;
  }

}
